.sticky {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: rgb(18, 18, 18);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}

#player-stats th, #player-stats td {
  padding-left: 10px;
  padding-right: 10px;
}

#player-stats td, #player-stats th {
  border-bottom: 0;
  z-index: 1;
}

#player-stats tr:nth-child(even) td, #player-stats tr:nth-child(even) th {
  background-color: #000;
}

#player-stats thead th, #player-stats thead .sticky {
  background-color: rgb(18, 18, 18);
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
}
